.export {
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.export__main {
  width: 100%;
}

.export__map {
  width: 100%;
  height: 100%;
}

.export__map-viewer {
  width: 100%;
  height: 100%;
}

.export__nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

.export__menu {
  width: 500px;
  max-width: 100%;
  height: 100vh;
  padding: 6rem 1rem 1rem;
  border-left: 2px solid var(--secondary-color);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  transform: translateX(500px);
  overflow: scroll;
  background: white;
  transition: all 0.2s ease-out;
}

.export__menu--open {
  transform: translateX(0);
}

.export__mapper {
  width: 100%;
  margin: 0;
}
