.export {
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.export__main {
  width: 100%;
}

.export__map {
  width: 100%;
  height: 100%;
}

.export__map-viewer {
  width: 100%;
  height: 100%;
}

.export__nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100%;
}

.export__panel{
  max-width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 1;
  background: white;
  transition: all 0.2s ease-out;
}

.export__panel .button--toggle{
  position: absolute;
  top: 0;
}

.export__panel-scroll-content{
  max-width: 100%;
  height: 100vh;
  padding: 6rem 1rem 1rem;
  overflow: scroll;
}

.info-panel{
  left: 0;
  transform: translateX(-400px);
  border-right: 2px solid var(--secondary-color);
}
.info-panel .export__panel-scroll-content{
  width: 400px;
}

.edit-panel{
  right: 0;
  transform: translateX(700px);
  border-left: 2px solid var(--secondary-color);
}
.edit-panel .export__panel-scroll-content{
  width: 700px;
}

.export__panel--open {
  transform: translateX(0);
}

.info-panel__player-info{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.export__mapper {
  width: 100%;
  margin: 0;
}

.export__mapper td {
  padding: 0rem 0.5rem;
  vertical-align: middle;
}

.export__mapper input {
  width: 100%;
}

.export__mapper td img {
  max-width: none;
  width: 4.5rem;
}

.export__controls{
  position: fixed;
  bottom: 0;
  left: 0;
}
